body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.4em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** BUTTONS
===================================*/
.btn-orange{
	background: none;
	border: none;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	padding: $pixel ($pixel + 5);
	font-size: 18px;
	@include background-image(linear-gradient(#ff9049, #ff7c31, #ff5402));
	@include prefixed(transition, all 0.3s linear);

	&:hover{
		@include opacity(0.7);
	}
}

.title-md{
	margin:0 ;
	font: 33px 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: $pixel + 3;
}
