/** HOMEPAGE
===================================*/
.partner-wrap{
	text-align: center;
	margin-bottom: $pixel * 3;
	padding: 12px 0;
	border-bottom: 1px solid #c6d1e5;
	.partner-title{
		font-size: 17px;
		color: $purple-color;
		margin: 0;
		margin-bottom: 15px;
	}
	.inner{
		max-width: 1230px;
		margin: 0 auto;
	}

	ul{
		li{
			@include inline-block();
			padding: 0 2px;
			margin-bottom: $pixel;
		}
	}
}


.planstate{
	text-align: center;
	padding-bottom : $pixel * 4;

	.subtitle{
		color: #9b84c8;
		margin-bottom: 18px;
		font-weight: 600;
	}
}