/** INTRO
===================================*/
#intro{
	//@include min-height(520px);
	position: relative;
	overflow: hidden;
}


.intro-thumb{
	text-align: center;

	img{
		@media screen and (max-width: 48em){
			height: 300px;
			width: auto;
		}
	}
}

.intro-gap{
	width: 100%;
	z-index: 10;
	@include size(100%, 148px);
	background-color: lighten($purple-color, 3%);
	position: relative;

	header{
		margin-bottom: $pixel * 3 + 5;
	}
	@media screen and (max-width: 40em){
		height: 230px;
	}
	@media screen and (min-width: 48em){
		height: $pixel * 8;
		background-color: lighten($purple-color, 10%);
	}
}

.introbox{
	max-width: 840px;
	background-color: black;
	background-color: rgba(black, 0.5);
	color: white;
	text-align: center;
	padding: $pixel 25px ($pixel + 5);
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	h2{
		color: white;
		font-size: 27px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: $pixel - 6;

	}
	.subtitle{
		font-size: 26px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: $pixel + 2;
		line-height: 1.3em;
	}
}

.formquote{
	.form-control{
		@include border-radius(0);
		font-family: 'Open Sans', sans-serif;
		height: 41px;
		vertical-align: top;
		width: 183px;
		margin: 0 auto 15px;
		text-align: center;


		@media screen and(min-width: 48em){
			margin-right: $pixel - 2;
			width: 245px;
			text-align: left;
			margin-bottom: 0;
		}
	}
}