{{> intro }}
<div id="main" role="main" >
	<section class="partner-wrap">
		<div class="inner">
			<h4 class="partner-title">OUR PARTNERS</h4>
			<ul>
				{{~#partners}}
					<li><figure><img src="assets/img/{{.}}" alt=""></figure></li>
				{{~/partners}}
			</ul>
		</div>
	</section><!-- //partner-wrap -->

	<section class="planstate">
		<div class="container">
			{{#planState}}
				<h2 class="title-md">{{title}}</h2>
				<p class="subtitle">{{subtitle}}</p>

				<div class="contnet-text">
					<p>{{desc}}</p>
				</div>
			{{/planState}}
		</div>
	</section><!-- //planstate -->

</div> <!-- //MAIN -->
  