<section id="intro">
	<figure class="intro-thumb"><img src="{{assetsimg}}/slider.jpg" alt=""></figure>
	<div class="intro-gap">
		<div class="container">
			<div class="introbox">
				{{#quote}}
					<header>
						<h2>{{title}}</h2>
						<p class="subtitle">{{text}}</p>
					</header>
					<form class="formquote form-inline">
						   <input type="email" class="form-control"  placeholder="Zip Code">
						  <input type="submit" class="btn-orange" value="{{button}}">
						</form>
					</form>
				{{/quote}}
			</div>	<!-- //introbox -->
		</div>
	</div>
</section>